<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CE_Lotti.My.MySettings.LottiConnectionString" connectionString="Data Source=aggestionale01l.dmcasagrande.local;Initial Catalog=StrutturaCommesse;Persist Security Info=True;User ID=accessuser2021;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>